:root {
    --background-color: hsl(0, 4%, 55%);
    --text-color: hsl(0, 0%, 100%);
    --ul-background-color: hsl(0, 6%, 21%);
    --ul-hover-background-color: hsl(0, 6%, 42%);
    --btn-background-color: hsl(102, 48%, 42%);
    --color-checked: hsl(0, 2%, 66%);
    // --checkbox-background-color: hsl(102, 48%, 42%);
}
